### Imports

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

### Read in CSV files. The Test and Train split is an element of the Kaggle compeition source of these files

In [6]:
df = pd.read_csv('exoTrain.csv')
dftest = pd.read_csv('exoTest.csv')

In [5]:
df.head()

,LABEL,FLUX.1,FLUX.2,FLUX.3,FLUX.4,FLUX.5,FLUX.6,FLUX.7,FLUX.8,FLUX.9,...,FLUX.3188,FLUX.3189,FLUX.3190,FLUX.3191,FLUX.3192,FLUX.3193,FLUX.3194,FLUX.3195,FLUX.3196,FLUX.3197
0,2,93.85,83.81,20.10,-26.98,-39.56,-124.71,-135.18,-96.27,-79.89,...,-78.07,-102.15,-102.15,25.13,48.57,92.54,39.32,61.42,5.08,-39.54
1,2,-38.88,-33.83,-58.54,-40.09,-79.31,-72.81,-86.55,-85.33,-83.97,...,-3.28,-32.21,-32.21,-24.89,-4.86,0.76,-11.70,6.46,16.00,19.93
2,2,532.64,535.92,513.73,496.92,456.45,466.00,464.50,486.39,436.56,...,-71.69,13.31,13.31,-29.89,-20.88,5.06,-11.80,-28.91,-70.02,-96.67
3,2,326.52,347.39,302.35,298.13,317.74,312.70,322.33,311.31,312.42,...,5.71,-3.73,-3.73,30.05,20.03,-12.67,-8.77,-17.31,-17.35,13.98
4,2,-1107.21,-1112.59,-1118.95,-1095.10,-1057.55,-1034.48,-998.34,-1022.71,-989.57,...,-594.37,-401.66,-401.66,-357.24,-443.76,-438.54,-399.71,-384.65,-411.79,-510.54

In [6]:
dftest.head()

,LABEL,FLUX.1,FLUX.2,FLUX.3,FLUX.4,FLUX.5,FLUX.6,FLUX.7,FLUX.8,FLUX.9,...,FLUX.3188,FLUX.3189,FLUX.3190,FLUX.3191,FLUX.3192,FLUX.3193,FLUX.3194,FLUX.3195,FLUX.3196,FLUX.3197
0,2,119.88,100.21,86.46,48.68,46.12,39.39,18.57,6.98,6.63,...,14.52,19.29,14.44,-1.62,13.33,45.50,31.93,35.78,269.43,57.72
1,2,5736.59,5699.98,5717.16,5692.73,5663.83,5631.16,5626.39,5569.47,5550.44,...,-581.91,-984.09,-1230.89,-1600.45,-1824.53,-2061.17,-2265.98,-2366.19,-2294.86,-2034.72
2,2,844.48,817.49,770.07,675.01,605.52,499.45,440.77,362.95,207.27,...,17.82,-51.66,-48.29,-59.99,-82.10,-174.54,-95.23,-162.68,-36.79,30.63
3,2,-826.00,-827.31,-846.12,-836.03,-745.50,-784.69,-791.22,-746.50,-709.53,...,122.34,93.03,93.03,68.81,9.81,20.75,20.25,-120.81,-257.56,-215.41
4,2,-39.57,-15.88,-9.16,-6.37,-16.13,-24.05,-0.90,-45.20,-5.04,...,-37.87,-61.85,-27.15,-21.18,-33.76,-85.34,-81.46,-61.98,-69.34,-17.84

#### combine the two datasets into one to regression

In [8]:
dfwhole = pd.concat([df,dftest])

In [9]:
dfwhole.shape

(5657, 3198)

### Split into training and test using train_test_split 80% train

In [10]:
# Split the data into a training and test set.
Xlr, Xtestlr, ylr, ytestlr = train_test_split(dfwhole.loc[:,'FLUX.1':].values, dfwhole['LABEL'].values, test_size =.8, random_state = 101)

In [11]:
clf = LogisticRegression(C=1)

# Fit the model on the trainng data.
clf.fit(Xlr, ylr)
# Print the accuracy from the testing data.
print(accuracy_score(clf.predict(Xtestlr), ytestlr))

0.665046398586

### Print Classification Report and Confusion Matrix

In [26]:
from sklearn.metrics import confusion_matrix,classification_report

#Print Confusion Matrix
print ('\nClassification Report:\n', classification_report(ytestlr,clf.predict(Xtestlr)))
#confusion_matrix_graph = confusion_matrix(clf.predict(Xtestlr),ytestlr)
#print ('\nConfusion Matrix:\n',confusion_matrix_graph)
print ('\nConfusion Matrix:\n', pd.crosstab( clf.predict(Xtestlr),ytestlr, rownames=['True'], colnames=['Predicted'], margins=True))

Classification Report:
              precision    recall  f1-score   support

          1       1.00      0.66      0.80      4494
          2       0.01      0.69      0.03        32

avg / total       0.99      0.67      0.79      4526


Confusion Matrix:
 [[2988   10]
 [1506   22]]

Confusion Matrix:
 Predicted     1   2   All
True
1          2988  10  2998
2          1506  22  1528
All        4494  32  4526

In [12]:
clf.predict(Xtestlr)

array([1, 1, 1, ..., 2, 1, 2], dtype=int64)

In [13]:
#from sklearn.metrics import roc_auc_score
#y_true = np.array([0, 0, 1, 1])
#y_scores = np.array([0.1, 0.4, 0.35, 0.8])
#roc_auc_score(y_true, y_scores)

### Cross Validation

In [27]:
def cv_score(clf, x, y, score_func=accuracy_score):
    result = 0
    nfold = 5
    for train, test in KFold(nfold).split(x): # split data into train/test groups, 5 times
        clf.fit(x[train], y[train]) # fit
        result += score_func(clf.predict(x[test]), y[test]) # evaluate score function on held-out data
    return result / nfold # average

In [28]:
clf2 = LogisticRegression()
score = cv_score(clf2, Xlr, ylr)
print(score)

0.654262991696

### Sample through different C parameters

In [29]:
#the grid of parameters to search over
Cs = [0.001, 0.1, 1, 10, 100]

#For C parameters

def Parameters_C(Cs):
    """
    Input List of C values
    Output Best C value as highest cv_score is tracked 
    """
    max_value = 0 
    
    for parameters in Cs:
        logReg = LogisticRegression(C = parameters) #perform Log Reg with C
        score = cv_score(logReg, Xlr, ylr) #get average score

        if score > max_value:
            max_value = score
            top_C = parameters
        
    return max_value, top_C
            
max_value, top_C = Parameters_C(Cs)

print('Maxium: {}'.format(max_value))
print('Best value for C : {}'.format(top_C))

Maxium: 0.6542746871466999
Best value for C : 0.001

In [30]:
clf = LogisticRegression(C=top_C)
# Fit the model on the trainng data.
clf.fit(Xlr, ylr)
# Print the accuracy from the testing data.
print(accuracy_score(clf.predict(Xtestlr), ytestlr))

0.645161290323

---

In [61]:
Xlr = df.loc[:,'FLUX.1':].values
Xtestlr = dftest.loc[:,'FLUX.1':].values
ylr = df['LABEL'].values
ytestlr =dftest['LABEL'].values

In [66]:
clf = LogisticRegression(C=10)

# Fit the model on the trainng data.
clf.fit(Xlr, ylr)

# Print the accuracy from the testing data.
print(accuracy_score(clf.predict(Xtestlr), ytestlr))

0.515789473684

## Now with Normalized Scaled data

In [31]:
# import and instatiate scaler
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()

### fit and transform normalizer

In [32]:
#create separate array of Labals before transformation, remove labels from transformable dataset
dfwhole_target = dfwhole['LABEL']
dfwhole.drop('LABEL',axis=1,inplace=True)

In [31]:
dfwhole.head()

,FLUX.1,FLUX.2,FLUX.3,FLUX.4,FLUX.5,FLUX.6,FLUX.7,FLUX.8,FLUX.9,FLUX.10,...,FLUX.3188,FLUX.3189,FLUX.3190,FLUX.3191,FLUX.3192,FLUX.3193,FLUX.3194,FLUX.3195,FLUX.3196,FLUX.3197
0,93.85,83.81,20.10,-26.98,-39.56,-124.71,-135.18,-96.27,-79.89,-160.17,...,-78.07,-102.15,-102.15,25.13,48.57,92.54,39.32,61.42,5.08,-39.54
1,-38.88,-33.83,-58.54,-40.09,-79.31,-72.81,-86.55,-85.33,-83.97,-73.38,...,-3.28,-32.21,-32.21,-24.89,-4.86,0.76,-11.70,6.46,16.00,19.93
2,532.64,535.92,513.73,496.92,456.45,466.00,464.50,486.39,436.56,484.39,...,-71.69,13.31,13.31,-29.89,-20.88,5.06,-11.80,-28.91,-70.02,-96.67
3,326.52,347.39,302.35,298.13,317.74,312.70,322.33,311.31,312.42,323.33,...,5.71,-3.73,-3.73,30.05,20.03,-12.67,-8.77,-17.31,-17.35,13.98
4,-1107.21,-1112.59,-1118.95,-1095.10,-1057.55,-1034.48,-998.34,-1022.71,-989.57,-970.88,...,-594.37,-401.66,-401.66,-357.24,-443.76,-438.54,-399.71,-384.65,-411.79,-510.54

In [33]:
column_names = dfwhole.columns

In [34]:
#Whole Dataset 
dfwhole_scale = scale.fit_transform(dfwhole.as_matrix())

### convert back to dataframe

In [35]:
#Whole Dataset 
dfwhole_scale = pd.DataFrame(dfwhole_scale)

In [36]:
dfwhole_scale.reset_index(inplace=True, drop=True)

In [37]:
dfwhole_scale.columns = column_names

In [83]:
dfwhole_scale.head()

,FLUX.1,FLUX.2,FLUX.3,FLUX.4,FLUX.5,FLUX.6,FLUX.7,FLUX.8,FLUX.9,FLUX.10,...,FLUX.3188,FLUX.3189,FLUX.3190,FLUX.3191,FLUX.3192,FLUX.3193,FLUX.3194,FLUX.3195,FLUX.3196,FLUX.3197
0,-0.004236,-0.005043,-0.007841,-0.011275,-0.010495,-0.014239,-0.012587,-0.012311,-0.011753,-0.018687,...,-0.014546,-0.017118,-0.017280,-0.014300,-0.012122,-0.010372,0.026682,0.031563,0.024062,0.015458
1,-0.010624,-0.010631,-0.011558,-0.011886,-0.012282,-0.012002,-0.010493,-0.011816,-0.011954,-0.014080,...,-0.011809,-0.015050,-0.015588,-0.015357,-0.013227,-0.012181,0.023712,0.028344,0.024757,0.019690
2,0.016880,0.016432,0.015493,0.013141,0.011802,0.011220,0.013229,0.014076,0.013661,0.015525,...,-0.014312,-0.013704,-0.014488,-0.015463,-0.013559,-0.012096,0.023706,0.026272,0.019286,0.011392
3,0.006961,0.007477,0.005501,0.003877,0.005566,0.004613,0.007109,0.006147,0.007552,0.006976,...,-0.011480,-0.014208,-0.014900,-0.014196,-0.012712,-0.012446,0.023882,0.026952,0.022636,0.019267
4,-0.062035,-0.061872,-0.061682,-0.061053,-0.056257,-0.053449,-0.049746,-0.054268,-0.056517,-0.061718,...,-0.033436,-0.025975,-0.024522,-0.022379,-0.022308,-0.020841,0.001127,0.005435,-0.002453,-0.018060

In [38]:
dfwhole_target = pd.DataFrame(dfwhole_target)
dfwhole_target.reset_index(inplace=True, drop=True)
dfwhole_target.head()

   LABEL
0      2
1      2
2      2
3      2
4      2

In [39]:
dfwhole_target.reset_index(inplace=True, drop=True)

In [40]:
dfwhole_scale.shape

(5657, 3197)

In [41]:
df_col_merged =pd.concat([dfwhole_target, dfwhole_scale], axis=1)
df_col_merged.shape

(5657, 3198)

In [25]:
df_col_merged.head()

,LABEL,FLUX.1,FLUX.2,FLUX.3,FLUX.4,FLUX.5,FLUX.6,FLUX.7,FLUX.8,FLUX.9,...,FLUX.3188,FLUX.3189,FLUX.3190,FLUX.3191,FLUX.3192,FLUX.3193,FLUX.3194,FLUX.3195,FLUX.3196,FLUX.3197
0,2,-0.004236,-0.005043,-0.007841,-0.011275,-0.010495,-0.014239,-0.012587,-0.012311,-0.011753,...,-0.014546,-0.017118,-0.017280,-0.014300,-0.012122,-0.010372,0.026682,0.031563,0.024062,0.015458
1,2,-0.010624,-0.010631,-0.011558,-0.011886,-0.012282,-0.012002,-0.010493,-0.011816,-0.011954,...,-0.011809,-0.015050,-0.015588,-0.015357,-0.013227,-0.012181,0.023712,0.028344,0.024757,0.019690
2,2,0.016880,0.016432,0.015493,0.013141,0.011802,0.011220,0.013229,0.014076,0.013661,...,-0.014312,-0.013704,-0.014488,-0.015463,-0.013559,-0.012096,0.023706,0.026272,0.019286,0.011392
3,2,0.006961,0.007477,0.005501,0.003877,0.005566,0.004613,0.007109,0.006147,0.007552,...,-0.011480,-0.014208,-0.014900,-0.014196,-0.012712,-0.012446,0.023882,0.026952,0.022636,0.019267
4,2,-0.062035,-0.061872,-0.061682,-0.061053,-0.056257,-0.053449,-0.049746,-0.054268,-0.056517,...,-0.033436,-0.025975,-0.024522,-0.022379,-0.022308,-0.020841,0.001127,0.005435,-0.002453,-0.018060

### Split the data into a training and test set.

### Fit the logistic model : Test size 80% and random state 101

In [42]:
# Split the data into a training and test set.
Xlr, Xtestlr, ylr, ytestlr = train_test_split(df_col_merged.loc[:,'FLUX.1':].values, df_col_merged['LABEL'].values, test_size =.8, random_state = 101)

In [43]:
clf = LogisticRegression(C=10)

# Fit the model on the trainng data.
clf.fit(Xlr, ylr)

# Print the accuracy from the testing data.
print(accuracy_score(clf.predict(Xtestlr), ytestlr))

0.978789217852

### Fit the logistic model : Test size 70% and random state 42

In [44]:
# Split the data into a training and test set.
Xlr, Xtestlr, ylr, ytestlr = train_test_split(df_col_merged.loc[:,'FLUX.1':].values, df_col_merged['LABEL'].values, test_size =.7, random_state = 42)

In [45]:
clf = LogisticRegression(C=1)

# Fit the model on the trainng data.
clf.fit(Xlr, ylr)

# Print the accuracy from the testing data.
print(accuracy_score(clf.predict(Xtestlr), ytestlr))

0.986363636364

### Now for the Competition Breakdown:

In [ ]:
#df & dftest

In [91]:
# Explore Star Light Intensity with & without exoPlanet
# remove the label data

#create separate array of Labels before transformation, remove labels from transformable dataset
df_target = df['LABEL']
df.drop('LABEL',axis=1,inplace=True)

dftest_target = dftest['LABEL']
dftest.drop('LABEL',axis=1,inplace=True)

In [92]:
#Competition Split: Fit Transform
dftrain_scale = scale.fit_transform(df.as_matrix())
dftest_scale = scale.fit_transform(dftest.as_matrix())

In [93]:
#Competition Split: Revert to Dataset
dftrain_scale = pd.DataFrame(dftrain_scale)
dftest_scale = pd.DataFrame(dftest_scale)

In [94]:
clf_c = LogisticRegression(C=1)

# Fit the model on the trainng data.
clf_c.fit(dftrain_scale, df_target)

# Print the accuracy from the testing data.
print(accuracy_score(clf.predict(dftest_scale), dftest_target))

0.984210526316

---
### Working with a group of classifiers

In [46]:
#Import the classifiers
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.metrics import accuracy_score

In [47]:
#Assign the classifiers 
svc = SVC(kernel='sigmoid', gamma=1.0)
knc = KNeighborsClassifier(n_neighbors=5)
mnb = MultinomialNB(alpha=0.2)
dtc = DecisionTreeClassifier(min_samples_split=7, random_state=111)
lrc = LogisticRegression(solver='liblinear', penalty='l1')
rfc = RandomForestClassifier(n_estimators=31, random_state=111)
abc = AdaBoostClassifier(n_estimators=62, random_state=111)
bc = BaggingClassifier(n_estimators=9, random_state=111)
etc = ExtraTreesClassifier(n_estimators=9, random_state=111)

In [49]:
clfs = {'SVC' : svc,'KN' : knc, 'DT': dtc, 'LR': lrc, 'RF': rfc, 'AdaBoost': abc, 'BgC': bc, 'ETC': etc}

In [50]:
def train_classifier(clf, feature_train, labels_train):
    """create the classfier feeder to fit the features and labels"""
    clf.fit(feature_train, labels_train)

In [51]:
def predict_labels(clf, features):
    """predicted values from the features matrix"""
    return (clf.predict(features))

In [53]:
features_train = Xlr
labels_train = ylr
features_test = Xtestlr
labels_test = ytestlr

pred_scores = []
for k,v in clfs.items():
    #print(k)
    train_classifier(v, features_train, labels_train)
    pred = predict_labels(v,features_test)
    pred_scores.append((k, [accuracy_score(labels_test,pred)]))
    print ('\nClassification Report: ', k,'\n', classification_report(ytestlr,v.predict(Xtestlr)))
    print ('\nConfusion Matrix: ',k,'\n', pd.crosstab( v.predict(Xtestlr),ytestlr, rownames=['True'], colnames=['Predicted'], margins=True))

SVC

Classification Report:  SVC
              precision    recall  f1-score   support

          1       0.99      1.00      1.00      3933
          2       0.00      0.00      0.00        27

avg / total       0.99      0.99      0.99      3960


Confusion Matrix:  SVC
 Predicted     1   2   All
True
1          3924  27  3951
2             9   0     9
All        3933  27  3960
KN

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

Classification Report:  KN
              precision    recall  f1-score   support

          1       0.99      1.00      1.00      3933
          2       0.00      0.00      0.00        27

avg / total       0.99      0.99      0.99      3960


Confusion Matrix:  KN
 Predicted     1   2   All
True
1          3933  27  3960
All        3933  27  3960
DT

Classification Report:  DT
              precision    recall  f1-score   support

          1       0.99      0.98      0.99      3933
          2       0.02      0.07      0.04        27

avg / total       0.99      0.97      0.98      3960


Confusion Matrix:  DT
 Predicted     1   2   All
True
1          3853  25  3878
2            80   2    82
All        3933  27  3960
LR

Classification Report:  LR
              precision    recall  f1-score   support

          1       0.99      1.00      1.00      3933
          2       0.00      0.00      0.00        27

avg / total       0.99      0.99      0.99      3960


Confusion Matrix:  LR
 Predicted     1   2   All
True
1          3933  27  3960
All        3933  27  3960
RF

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

Classification Report:  RF
              precision    recall  f1-score   support

          1       0.99      1.00      1.00      3933
          2       0.00      0.00      0.00        27

avg / total       0.99      0.99      0.99      3960


Confusion Matrix:  RF
 Predicted     1   2   All
True
1          3933  27  3960
All        3933  27  3960
AdaBoost

Classification Report:  AdaBoost
              precision    recall  f1-score   support

          1       0.99      1.00      0.99      3933
          2       0.00      0.00      0.00        27

avg / total       0.99      0.99      0.99      3960


Confusion Matrix:  AdaBoost
 Predicted     1   2   All
True
1          3920  27  3947
2            13   0    13
All        3933  27  3960
BgC

Classification Report:  BgC
              precision    recall  f1-score   support

          1       0.99      1.00      1.00      3933
          2       0.00      0.00      0.00        27

avg / total       0.99      0.99      0.99      3960


Confusion Matrix:  BgC
 Predicted     1   2   All
True
1          3925  27  3952
2             8   0     8
All        3933  27  3960
ETC

Classification Report:  ETC
              precision    recall  f1-score   support

          1       0.99      1.00      1.00      3933
          2       0.00      0.00      0.00        27

avg / total       0.99      0.99      0.99      3960


Confusion Matrix:  ETC
 Predicted     1   2   All
True
1          3932  27  3959
2             1   0     1
All        3933  27  3960

In [40]:
df_result = pd.DataFrame.from_items(pred_scores,orient='index', columns=['Score'])
df_result

             Score
SVC       0.986522
KN        0.992930
DT        0.976580
LR        0.992930
RF        0.992930
AdaBoost  0.992709
BgC       0.988069
ETC       0.992488